services:
  - type: web
    name: stock-predictor
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --chdir web app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
